dtd/teilitejh.dtd

<!-- <!DOCTYPE tei.2 SYSTEM "tei2.dtd" [ -->

<!--  TEI Lite DTD -->
<!--  This is the TEI Lite DTD.  It can be referred to using the
formal public identifier

       -//TEI//DTD TEI Lite 1.0//EN

or the slightly more specific

       -//TEI//DTD TEI Lite 1.6//EN

      This is version 1.6, generated 25 June 1995
      and tweaked manually by CMSMcQ (tei@uic.edu).

      Further tweaked by Jeroen Hellingman for use by tei2html

-->

<!--  Text Encoding Initiative: Guidelines for Electronic      -->
<!--  Text Encoding and Interchange. Document TEI P3, 1994.    -->
<!--  Copyright (c) 1994 ACH, ACL, ALLC. Permission to copy    -->
<!--  in any form is granted, provided this notice is          -->
<!--  included in all copies.                                  -->
<!--  These materials may not be altered; modifications to     -->
<!--  these DTDs should be performed as specified in the       -->
<!--  Guidelines in chapter "Modifying the TEI DTD."           -->
<!--  These materials subject to revision. Current versions    -->
<!--  are available from the Text Encoding Initiative.         -->

<!--  Revisions:                                               -->
<!--  1996-09-24 : CMSMcQ : suppress trailing blank in FPI     -->
<!--  1995-06-25 : CMSMcQ : Version 1.6.  Add notations, ISO   -->
<!--                        entity sets for characters         -->
<!--                        Add eg to x.common                 -->
<!--  1995-06-08 : CMSMcQ : Version 1.5.  Add divGen to front  -->
<!--  1995-02-28 : CMSMcQ : Version 1.4.  Add biblFull at the  -->
<!--                        request of David Seaman            -->
<!--  1995-02-17 : CMSMcQ : Version 1.3.  Add ident, code ...  -->
<!--                        (and add teilitex.dtd)             -->
<!--  1995-01-27 : CMSMcQ : Version 1.2?  LB changes of 23 Jan -->
<!--  1995-01-21 : CMSMcQ : first cut at selection             -->
<!--  1995-01-21 : CMSMcQ : made file from skelmods.ent        -->
<!--  A TEI document is a text preceded by a TEI header.       -->

<!ELEMENT TEI.2 - O (teiHeader, text)>

<!ATTLIST TEI.2
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "TEI.2" >

<!ELEMENT gi - O (#PCDATA)>

<!ATTLIST gi
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEI (yes | no) "yes"
     TEIform CDATA "gi" >

<!ELEMENT eg - - (#PCDATA)>

<!ATTLIST eg
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "eg" >

<!ELEMENT code - O (#PCDATA)>

<!ATTLIST code
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED >

<!ELEMENT ident - O (#PCDATA)>

<!ATTLIST ident
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED >

<!ELEMENT kw - O (#PCDATA)>

<!ATTLIST kw
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED >

<!ELEMENT teiHeader - - (fileDesc, (encodingDesc)*, (profileDesc)*,
(revisionDesc)?)>

<!ATTLIST teiHeader
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA "text"
     creator CDATA #IMPLIED
     status (new | update) "new"
     date.created CDATA #IMPLIED
     date.updated CDATA #IMPLIED
     TEIform CDATA "teiHeader" >

<!ELEMENT fileDesc - - (titleStmt, (editionStmt)?, (extent)?,
publicationStmt, (seriesStmt)?, (notesStmt)?, (sourceDesc)+)>

<!ATTLIST fileDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "fileDesc" >

<!ELEMENT titleStmt - O (((title)+, (author | editor | sponsor |
funder | principal | respStmt)*))>

<!ATTLIST titleStmt
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "titleStmt" >

<!ELEMENT sponsor - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST sponsor
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "sponsor" >

<!ELEMENT funder - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST funder
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "funder" >

<!ELEMENT principal - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST principal
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "principal" >

<!ELEMENT editionStmt - O ((edition, (respStmt)*) | (p)+)>

<!ATTLIST editionStmt
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "editionStmt" >

<!ELEMENT edition - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST edition
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "edition" >

<!ELEMENT extent - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST extent
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "extent" >

<!--  5.2.4:  The publication statement                        -->

<!ELEMENT publicationStmt - O ((p)+ | ((publisher | distributor |
authority) & ((pubPlace)?, (address)?, (idno)*, (availability)?,
(date)?)+)+)>

<!ATTLIST publicationStmt
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "publicationStmt" >

<!ELEMENT distributor - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST distributor
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "distributor" >

<!ELEMENT authority - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST authority
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "authority" >

<!ELEMENT idno - O (#PCDATA)>

<!ATTLIST idno
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "idno" >

<!ELEMENT availability - O ((p)+)>

<!ATTLIST availability
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     status (free | unknown | restricted) #IMPLIED
     TEIform CDATA "availability" >

<!--  5.2.5:  The series statement                             -->

<!ELEMENT seriesStmt - O ((title, (idno | respStmt)*) | (p)+)>

<!ATTLIST seriesStmt
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "seriesStmt" >

<!--  5.2.6:  The notes statement                              -->

<!ELEMENT notesStmt - O ((note)+)>

<!ATTLIST notesStmt
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "notesStmt" >

<!--  5.2.7:  The source description                           -->

<!ELEMENT sourceDesc - - (p | bibl | biblFull | listBibl)+>

<!ATTLIST sourceDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "sourceDesc" >

<!--  5.3:  The encoding description                           -->

<!ELEMENT encodingDesc - - ((projectDesc)*, (samplingDecl)*,
(editorialDecl)*, (tagsDecl)?, (refsDecl)*, (classDecl)*, (p)*)>

<!ATTLIST encodingDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "encodingDesc" >

<!--  5.3.1:  The project description                          -->

<!ELEMENT projectDesc - O ((p)+)>

<!ATTLIST projectDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "projectDesc" >

<!--  5.3.2:  The sampling declaration                         -->

<!ELEMENT samplingDecl - O ((p)+)>

<!ATTLIST samplingDecl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "samplingDecl" >

<!--  5.3.3:  The editorial practices declaration              -->

<!ELEMENT editorialDecl - O ((p)+)>

<!ATTLIST editorialDecl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "editorialDecl" >

<!--  5.3.4:  Tag usage and rendition declarations             -->

<!ELEMENT tagsDecl - O ((rendition)*, (tagUsage)*)>

<!ATTLIST tagsDecl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "tagsDecl" >

<!ELEMENT tagUsage - O ((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST tagUsage
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     gi NAME #REQUIRED
     occurs NUMBER #IMPLIED
     ident NUMBER #IMPLIED
     render IDREF #IMPLIED
     TEIform CDATA "tagUsage" >

<!ELEMENT rendition - O ((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST rendition
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "rendition" >

<!--  5.3.5.3:  The reference scheme declaration               -->

<!ELEMENT refsDecl - O ((p)+)>

<!ATTLIST refsDecl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     doctype NAME "TEI.2"
     TEIform CDATA "refsDecl" >

<!--  5.3.6:  The classification declaration                   -->

<!ELEMENT classDecl - - ((taxonomy)+)>

<!ATTLIST classDecl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "classDecl" >

<!ELEMENT taxonomy - - ((category)+ | ((bibl | biblFull),
(category)*))>

<!ATTLIST taxonomy
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "taxonomy" >

<!ELEMENT category - - (catDesc, (category)*)>

<!ATTLIST category
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "category" >

<!ELEMENT catDesc - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST catDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "catDesc" >

<!--  5.4:  The profile description                            -->

<!ELEMENT profileDesc - - ((creation)?, (langUsage)*, (textClass)*)>

<!ATTLIST profileDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "profileDesc" >

<!--  5.4.1:  Creation                                         -->

<!ELEMENT creation - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST creation
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "creation" >

<!--  5.4.2:  Language usage                                   -->

<!ELEMENT langUsage - O (p | language)+>

<!ATTLIST langUsage
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "langUsage" >

<!ELEMENT language - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST language
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     wsd ENTITY #IMPLIED
     usage NUMBER #IMPLIED
     TEIform CDATA "language" >

<!--  5.4.3:  Text Classification                              -->

<!ELEMENT textClass - - ((classCode | catRef | keywords)*)>

<!ATTLIST textClass
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "textClass" >

<!ELEMENT keywords - O ((term)+ | list)>

<!ATTLIST keywords
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     scheme IDREF #IMPLIED
     TEIform CDATA "keywords" >

<!ELEMENT classCode - - (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST classCode
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     scheme IDREF #IMPLIED
     TEIform CDATA "classCode" >

<!ELEMENT catRef - O EMPTY>

<!ATTLIST catRef
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     target IDREFS #REQUIRED
     scheme IDREF #IMPLIED
     TEIform CDATA "catRef" >

<!--  5.5:  The Revision Description                           -->

<!ELEMENT revisionDesc - - (list | (change)+)>

<!ATTLIST revisionDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "revisionDesc" >

<!ELEMENT change - O (date, (respStmt)+, item)>

<!ATTLIST change
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "change" >

<!--  6.12: Elements available in all forms of the TEI main    -->
<!--  DTD                                                      -->
<!--  Definition of elements, sub-group by sub-group.          -->
<!--  6.1:  Paragraph                                          -->

<!ELEMENT p - O ((#PCDATA | ident | code | kw | abbr | measure | address | date
| name | num | rs | time | add | corr | choice | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>

<!ATTLIST p
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "p" >

<!--  6.3.2.1:  Highlighted phrases                            -->

<!ELEMENT foreign - - ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST foreign
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     rend CDATA #IMPLIED
     lang IDREF #IMPLIED
     TEIform CDATA "foreign" >

<!--  6.3.2.2:  Highlighted phrases (cont'd)                   -->

<!ELEMENT emph - - ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST emph
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "emph" >

<!ELEMENT hi - - ((#PCDATA | ident | code | kw | abbr | measure | address | date
| name | num | rs | time | add | corr | choice | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>

<!ATTLIST hi
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "hi" >

<!ELEMENT ab - - ((#PCDATA | ident | code | kw | abbr | measure | address | date
| name | num | rs | time | add | corr | choice | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>

<!ATTLIST ab
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "ab" >

<!ELEMENT ditto - - ((#PCDATA | ident | code | kw | abbr | measure | address | date
| name | num | rs | time | add | corr | choice | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>

<!ATTLIST ditto
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     mark CDATA #IMPLIED
     TEIform CDATA "ditto" >

<!--  6.3.3:  Highlighted phrases (cont'd)                     -->

<!ELEMENT q - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l | lg
| p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>

<!ATTLIST q
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     direct (y | n | unspecified) "unspecified"
     who CDATA #IMPLIED
     TEIform CDATA "q" >

<!ELEMENT cit - - ((q) & (bibl | biblFull | ptr | ref | xptr | xref))>

<!ATTLIST cit
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "cit" >

<!ELEMENT soCalled - - (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST soCalled
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "soCalled" >

<!--  6.3.4:  Highlighted phrases (cont'd)                     -->

<!ELEMENT term - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST term
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "term" >

<!ELEMENT mentioned - - (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST mentioned
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "mentioned" >

<!ELEMENT gloss - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST gloss
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     target IDREF #IMPLIED
     TEIform CDATA "gloss" >

<!--  6.4.1:  Proper Nouns                                     -->

<!ELEMENT name - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST name
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     key CDATA #IMPLIED
     ref CDATA #IMPLIED
     reg CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "name" >

<!ELEMENT rs - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST rs
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     key CDATA #IMPLIED
     reg CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "rs" >

<!--  6.4.3:  Numbers and measures                             -->

<!ELEMENT num - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST num
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     value CDATA #IMPLIED
     TEIform CDATA "num" >

<!--  6.4.4:  Dates and times                                  -->

<!ELEMENT date - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST date
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     calendar CDATA #IMPLIED
     value CDATA #IMPLIED
     certainty CDATA #IMPLIED
     TEIform CDATA "date" >

<!ELEMENT time - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST time
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     value CDATA #IMPLIED
     type (am | pm | 24hour | descriptive) #IMPLIED
     zone CDATA #IMPLIED
     TEIform CDATA "time" >

<!--  6.4.5:  Abbreviations                                    -->

<!ELEMENT abbr - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST abbr
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     expan CDATA #IMPLIED
     resp IDREF #IMPLIED
     cert CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "abbr" >

<!--  EXTRA:  Measurements                                    -->

<!ELEMENT measure - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST measure
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     reg CDATA #IMPLIED
     resp IDREF #IMPLIED
     cert CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "measure" >

<!--  6.5.1:  Editorial tags for correction                    -->

<!ELEMENT sic - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>

<!ATTLIST sic
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     corr CDATA #IMPLIED
     resp IDREF #IMPLIED
     cert CDATA #IMPLIED
     TEIform CDATA "sic" >

<!ELEMENT corr - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>

<!ATTLIST corr
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     sic CDATA #IMPLIED
     resp CDATA #IMPLIED
     cert CDATA #IMPLIED
     TEIform CDATA "corr" >

<!ELEMENT choice - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>

<!ATTLIST choice
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "choice" >


<!--  6.5.2:  Editorial tags for regularization                -->

<!ELEMENT reg - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST reg
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     orig CDATA #IMPLIED
     resp CDATA #IMPLIED
     TEIform CDATA "reg" >

<!ELEMENT orig - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST orig
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     reg CDATA #IMPLIED
     resp CDATA #IMPLIED
     TEIform CDATA "orig" >

<!--  6.5.3:  Other editorial tags                             -->

<!ELEMENT gap - O EMPTY>

<!ATTLIST gap
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     desc CDATA #IMPLIED
     reason CDATA #IMPLIED
     resp IDREF #IMPLIED
     hand IDREF #IMPLIED
     agent CDATA #IMPLIED
     extent CDATA #IMPLIED
     TEIform CDATA "gap" >

<!ELEMENT add - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>

<!ATTLIST add
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     place CDATA #IMPLIED
     resp IDREF #IMPLIED
     cert CDATA #IMPLIED
     hand IDREF #IMPLIED
     TEIform CDATA "add" >

<!ELEMENT del - - (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST del
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     status CDATA "unremarkable"
     resp IDREF #IMPLIED
     cert CDATA #IMPLIED
     hand IDREF #IMPLIED
     TEIform CDATA "del" >

<!ELEMENT unclear - O ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST unclear
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     reason CDATA #IMPLIED
     resp CDATA #IMPLIED
     cert CDATA #IMPLIED
     hand IDREF #IMPLIED
     agent CDATA #IMPLIED
     TEIform CDATA "unclear" >

<!--  6.4.2:  Addresses and their components                   -->

<!ELEMENT address - O ((addrLine)+)>

<!ATTLIST address
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "address" >

<!ELEMENT addrLine - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST addrLine
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "addrLine" >

<!--  6.6:  Simple cross references                            -->

<!ELEMENT ptr - O EMPTY>

<!ATTLIST ptr
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     resp CDATA #IMPLIED
     crdate CDATA #IMPLIED
     targType NAMES #IMPLIED
     targOrder (Y | N | U) "U"
     evaluate (all | one | none) #IMPLIED
     target IDREFS #REQUIRED
     TEIform CDATA "ptr" >

<!ELEMENT ref - - ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST ref
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     resp CDATA #IMPLIED
     crdate CDATA #IMPLIED
     targType NAMES #IMPLIED
     targOrder (Y | N | U) "U"
     evaluate (all | one | none) #IMPLIED
     target IDREFS #IMPLIED
     TEIform CDATA "ref" >

<!--  6.7:  Lists and List Items                               -->

<!ELEMENT list - - ((head)?, (((item)+) | ((label, item)+)))>

<!ATTLIST list
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA "simple"
     TEIform CDATA "list" >

<!ELEMENT item - O ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text | ditto)*)))>

<!ATTLIST item
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     n CDATA #IMPLIED
     TEIform CDATA "item" >

<!ELEMENT itemGroup - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
item | lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text | ditto)*)))>

<!ATTLIST itemGroup
     id ID #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "itemGroup" >

<!ELEMENT label - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST label
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "label" >

<!ELEMENT head - O ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST head
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "head" >

<!--  6.8.1:  Annotation                                       -->

<!ELEMENT note - O ((((l | lg | p | sp), (((eg | bibl | biblFull | l |
lg | p | sp | cit | q | label | list | listBibl | note | stage))*)) |
((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*)))>

<!ATTLIST note
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     n CDATA #IMPLIED
     type CDATA #IMPLIED
     resp CDATA #IMPLIED
     place CDATA "unspecified"
     anchored (yes | no) "yes"
     target IDREFS #IMPLIED
     targetEnd IDREFS #IMPLIED
     TEIform CDATA "note" >

<!--  6.8.2:  Index Entries                                    -->

<!ELEMENT index - O EMPTY>

<!ATTLIST index
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     index CDATA #IMPLIED
     level1 CDATA #REQUIRED
     level2 CDATA #IMPLIED
     level3 CDATA #IMPLIED
     level4 CDATA #IMPLIED
     TEIform CDATA "index" >

<!ELEMENT divGen - O EMPTY>

<!ATTLIST divGen
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "divGen" >

<!--  6.9.3:  Milestone tags                                   -->

<!ELEMENT milestone - O EMPTY>

<!ATTLIST milestone
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     ed CDATA #IMPLIED
     n CDATA #IMPLIED
     unit CDATA #REQUIRED
     TEIform CDATA "milestone" >

<!ELEMENT pb - O EMPTY>

<!ATTLIST pb
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     ed CDATA #IMPLIED
     n CDATA #IMPLIED
     facs CDATA #IMPLIED
     TEIform CDATA "pb" >

<!ELEMENT lb - O EMPTY>

<!ATTLIST lb
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     ed CDATA #IMPLIED
     n CDATA #IMPLIED
     TEIform CDATA "lb" >

<!--  6.10.1:  Tags for Bibliographic References               -->

<!ELEMENT bibl - O (#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | author | biblScope | edition | editor | extent | idno |
imprint | note | publisher | pubPlace | respStmt)*>

<!ATTLIST bibl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "bibl" >

<!ELEMENT biblFull - O (titleStmt, (editionStmt)?, (extent)?,
publicationStmt, (seriesStmt)?, (notesStmt)?, (sourceDesc)*)>

<!ATTLIST biblFull
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "biblFull" >

<!ELEMENT listBibl - - ((head)?, (bibl | biblFull)+, (trailer)?)>

<!ATTLIST listBibl
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     default (YES | NO) "NO"
     TEIform CDATA "listBibl" >

<!--  6.10.2.2:  Tags for Bibliographic References (cont'd)    -->

<!ELEMENT author - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST author
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     key CDATA #IMPLIED
     ref CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "author" >

<!ELEMENT editor - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST editor
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     key CDATA #IMPLIED
     ref CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     role CDATA "editor"
     TEIform CDATA "editor" >

<!ELEMENT respStmt - O ((resp & name), (resp | name)*)>

<!ATTLIST respStmt
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "respStmt" >

<!ELEMENT resp - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST resp
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "resp" >

<!ELEMENT title - O ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST title
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     nfc CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     level (a | m | j | s | u) #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "title" >

<!--  6.10.2.3:  Tags for Bibliographic References (cont'd)    -->

<!ELEMENT imprint - O (pubPlace | publisher | date | biblScope)*>

<!ATTLIST imprint
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "imprint" >

<!ELEMENT publisher - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST publisher
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "publisher" >

<!ELEMENT biblScope - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST biblScope
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "biblScope" >

<!ELEMENT pubPlace - - (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST pubPlace
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     key CDATA #IMPLIED
     reg CDATA #IMPLIED
     TEIform CDATA "pubPlace" >

<!--  6.11.1:  Verse                                           -->

<!ELEMENT l - O ((#PCDATA | ident | code | kw | abbr | measure | address | date
| name | num | rs | time | add | corr | choice | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula | eg
| bibl | biblFull | cit | q | label | list | listBibl | note | figure
| stage | table | text)*)>

<!ATTLIST l
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     enjamb CDATA #IMPLIED
     met CDATA #IMPLIED
     real CDATA #IMPLIED
     rhyme CDATA #IMPLIED
     part (Y | N | I | M | F) "N"
     TEIform CDATA "l" >

<!ELEMENT lg - O ((argument | byline | docAuthor | docDate | epigraph
| head | opener | salute | signed)*, (l | lg)+, (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST lg
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     met CDATA #IMPLIED
     real CDATA #IMPLIED
     rhyme CDATA #IMPLIED
     TEIform CDATA "lg" >

<!--  6.11.2:  Drama                                           -->

<!ELEMENT sp - O ((speaker)?, (p | l | lg | seg | stage)+)>

<!ATTLIST sp
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     who IDREFS #IMPLIED
     TEIform CDATA "sp" >

<!ELEMENT speaker - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*) -(speaker) >

<!ATTLIST speaker
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "speaker" >

<!ELEMENT stage - - ((((l | lg | p | sp), (((eg | bibl | biblFull | l
| lg | p | sp | cit | q | label | list | listBibl | note | stage))*))
| ((#PCDATA | ident | code | kw | abbr | measure | address | date | name | num |
rs | time | add | corr | choice | del | gap | orig | reg | sic | unclear | emph
| foreign | gloss | hi | ab | mentioned | soCalled | term | title | ptr |
ref | xptr | xref | anchor | s | seg | gi | formula | eg | bibl |
biblFull | cit | q | label | list | listBibl | note | figure | stage |
table | text)*))) -(stage) >

<!ATTLIST stage
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA "mix"
     TEIform CDATA "stage" >

<!--  7:  Top-level parts of default structure                 -->

<!ELEMENT text - - ((front)?, (body | group), (back)?) +(index |
interp | interpGrp | lb | milestone | pb) >

<!ATTLIST text
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     TEIform CDATA "text" >

<!ELEMENT body - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, (((divGen)*, ((div, (div
| divGen)*) | (div0, (div0 | divGen)*) | (div1, (div1 | divGen)*))) |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, ((divGen)*, ((div, (div | divGen)*) |
(div0, (div0 | divGen)*) | (div1, (div1 | divGen)*))?))), (byline |
closer | epigraph | salute | signed | trailer)*)>

<!ATTLIST body
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     TEIform CDATA "body" >

<!ELEMENT group - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, (text | group)+, (byline
| closer | epigraph | salute | signed | trailer)*)>

<!ATTLIST group
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     TEIform CDATA "group" >

<!--  7.1.1:  Un-numbered divisions                            -->

<!ELEMENT div - O ((argument | byline | docAuthor | docDate | epigraph
| head | opener | salute | signed)*, ((div | divGen)+ | (((eg | bibl |
biblFull | l | lg | p | sp | cit | q | label | list | listBibl | note
| stage))+, (div | divGen)*)), (byline | closer | epigraph | salute |
signed | trailer)*)>

<!ATTLIST div
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div" >

<!--  7.1.2:  Numbered divisions                               -->

<!ELEMENT div0 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div1 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div1 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div0
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div0" >

<!ELEMENT div1 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div2 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div2 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div1
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div1" >

<!ELEMENT div2 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div3 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div3 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div2
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div2" >

<!ELEMENT div3 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div4 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div4 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div3
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div3" >

<!ELEMENT div4 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div5 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div5 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div4
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div4" >

<!ELEMENT div5 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div6 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div6 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div5
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div5" >

<!ELEMENT div6 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((div7 | divGen)+ |
(((eg | bibl | biblFull | l | lg | p | sp | cit | q | label | list |
listBibl | note | stage))+, (div7 | divGen)*)), (byline | closer |
epigraph | salute | signed | trailer)*)>

<!ATTLIST div6
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div6" >

<!ELEMENT div7 - O ((argument | byline | docAuthor | docDate |
epigraph | head | opener | salute | signed)*, ((eg | bibl | biblFull |
l | lg | p | sp | cit | q | label | list | listBibl | note | stage))+,
(byline | closer | epigraph | salute | signed | trailer)*)>

<!ATTLIST div7
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     type CDATA #CURRENT
     org (composite | uniform) "uniform"
     sample (initial | medial | final | unknown | complete) "complete"
     part (Y | N | I | M | F) "N"
     TEIform CDATA "div7" >

<!--  7.2.4:  Tags for start and end of divisions              -->

<!ELEMENT trailer - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST trailer
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "trailer" >

<!ELEMENT byline - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))* | docAuthor)*>

<!ATTLIST byline
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "byline" >

<!ELEMENT dateline - O (date | time | name | #PCDATA | address)*>

<!ATTLIST dateline
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "dateline" >

<!ELEMENT argument - - ((head)?, ((eg | bibl | biblFull | l | lg | p |
sp | cit | q | label | list | listBibl | note | stage))*)>

<!ATTLIST argument
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "argument" >

<!ELEMENT epigraph - - (((eg | bibl | biblFull | l | lg | p | sp | cit
| q | label | list | listBibl | note | stage))*)>

<!ATTLIST epigraph
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "epigraph" >

<!ELEMENT opener - O (signed | dateline | salute | ((#PCDATA | ident |
code | kw | abbr | measure | address | date | name | num | rs | time | add |
corr | choice | del | gap | orig | reg | sic | unclear | emph | foreign | gloss
| hi | ab | mentioned | soCalled | term | title | ptr | ref | xptr | xref |
anchor | s | seg | gi | formula))*)*>

<!ATTLIST opener
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "opener" >

<!ELEMENT closer - O (signed | dateline | salute | ((#PCDATA | ident |
code | kw | abbr | measure | address | date | name | num | rs | time | add |
corr | choice | del | gap | orig | reg | sic | unclear | emph | foreign | gloss
| hi | ab | mentioned | soCalled | term | title | ptr | ref | xptr | xref |
anchor | s | seg | gi | formula))*)*>

<!ATTLIST closer
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "closer" >

<!ELEMENT salute - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST salute
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "salute" >

<!ELEMENT signed - O (((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST signed
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "signed" >

<!--  7.5:  Additional Tag Set for Front Matter                -->

<!ELEMENT front - O ((divGen | titlePage)*, (((argument | byline |
docAuthor | docDate | epigraph | head | opener | salute | signed),
(argument | byline | docAuthor | docDate | epigraph | head | opener |
salute | signed | titlePage)*) | ((div), (div | (divGen |
titlePage))*) | ((div1), (div1 | (divGen | titlePage))*))?)>

<!ATTLIST front
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     TEIform CDATA "front" >

<!--  7.5:  Tags for title pages                               -->

<!ELEMENT titlePage - O (byline | docAuthor | docDate | docEdition |
docImprint | docTitle | epigraph | titlePart)+>

<!ATTLIST titlePage
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     TEIform CDATA "titlePage" >

<!ELEMENT docTitle - O ((titlePart)+)>

<!ATTLIST docTitle
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "docTitle" >

<!ELEMENT titlePart - O ((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST titlePart
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA "main"
     TEIform CDATA "titlePart" >

<!ELEMENT docAuthor - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))*)>

<!ATTLIST docAuthor
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "docAuthor" >

<!ELEMENT docEdition - O ((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula | eg | bibl | biblFull | cit | q | label | list |
listBibl | note | figure | stage | table | text)*)>

<!ATTLIST docEdition
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "docEdition" >

<!ELEMENT docImprint - O (((#PCDATA | ident | code | kw | abbr |
address | date | name | num | rs | time | add | corr | choice | del | gap |
orig | reg | sic | unclear | emph | foreign | gloss | hi | ab | mentioned |
soCalled | term | title | ptr | ref | xptr | xref | anchor | s | seg |
gi | formula))* | pubPlace | docDate | publisher)*>

<!ATTLIST docImprint
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "docImprint" >

<!ELEMENT docDate - O (((#PCDATA | ident | code | kw | abbr | measure | address
| date | name | num | rs | time | add | corr | choice | del | gap | orig | reg
| sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula))*)>

<!ATTLIST docDate
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     value CDATA #IMPLIED
     TEIform CDATA "docDate" >

<!--  teiback2.dtd:  written by OddDTD 1994-09-09              -->
<!--  7.6:  Tags for Back Matter                               -->

<!ELEMENT back - O ((divGen | titlePage)*, (((argument | byline |
docAuthor | docDate | epigraph | head | opener | salute | signed),
(argument | byline | docAuthor | docDate | epigraph | head | opener |
salute | signed | titlePage)*) | ((div), (div | (divGen |
titlePage))*) | ((div1), (div1 | (divGen | titlePage))*))?)>

<!ATTLIST back
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     decls IDREFS #IMPLIED
     TEIform CDATA "back" >

<!--  14.2.1:  Extended pointers                               -->

<!ELEMENT xref - O ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST xref
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     url CDATA #IMPLIED
     resp CDATA #IMPLIED
     crdate CDATA #IMPLIED
     targType NAMES #IMPLIED
     targOrder (Y | N | U) "U"
     evaluate (all | one | none) #IMPLIED
     doc ENTITY #IMPLIED
     from CDATA "ROOT"
     to CDATA "DITTO"
     TEIform CDATA "xref" >

<!ELEMENT xptr - O EMPTY>

<!ATTLIST xptr
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     resp CDATA #IMPLIED
     crdate CDATA #IMPLIED
     targType NAMES #IMPLIED
     targOrder (Y | N | U) "U"
     evaluate (all | one | none) #IMPLIED
     doc ENTITY #IMPLIED
     from CDATA "ROOT"
     to CDATA "DITTO"
     TEIform CDATA "xptr" >

<!--  14.3:  Segments and Anchors                              -->

<!ELEMENT seg - - ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST seg
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     copyOf IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     function CDATA #IMPLIED
     subtype CDATA #IMPLIED
     part (Y | N | I | M | F) "N"
     TEIform CDATA "seg" >

<!ELEMENT anchor - O EMPTY>

<!ATTLIST anchor
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     function CDATA #IMPLIED
     id ID #REQUIRED
     TEIform CDATA "anchor" >

<!--  15:  Simple analytic mechanisms                          -->
<!--  15.3:  Spans                                             -->

<!ELEMENT interp - O EMPTY>

<!ATTLIST interp
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     resp CDATA #IMPLIED
     type CDATA #IMPLIED
     inst IDREFS #IMPLIED
     value CDATA #REQUIRED
     TEIform CDATA "interp" >

<!ELEMENT interpGrp - - ((interp)*)>

<!ATTLIST interpGrp
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     resp CDATA #IMPLIED
     type CDATA #IMPLIED
     inst IDREFS #IMPLIED
     TEIform CDATA "interpGrp" >

<!--  15.1:  Linguistic Segment Categories                     -->

<!ELEMENT s - - (((#PCDATA | ident | code | kw | abbr | measure | address | date
| name | num | rs | time | add | corr | choice | del | gap | orig | reg | sic |
unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled | term |
title | ptr | ref | xptr | xref | anchor | s | seg | gi | formula))*)
-(s) >

<!ATTLIST s
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     type CDATA #IMPLIED
     function CDATA #IMPLIED
     TEIform CDATA "s" >

<!--  teifig2.dtd:  written by OddDTD 1994-09-09               -->
<!--  22:  Tables, Formulae, Figures                           -->
<!--  22.1.1:  Tables                                          -->

<!ELEMENT table - - ((head)*, (column | columnGroup)*, (row)+)>

<!ATTLIST table
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     rows NUMBER #IMPLIED
     cols NUMBER #IMPLIED
     TEIform CDATA "table" >

<!ELEMENT column - O EMPTY>

<!ATTLIST column
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     cols CDATA #IMPLIED
     TEIform CDATA "column" >

<!ELEMENT columnGroup - - ((column)+)>

<!ATTLIST columnGroup
     id ID #IMPLIED
     pos CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     repeat CDATA #REQUIRED
     TEIform CDATA "columnGroup" >

<!ELEMENT row - O ((cell | table)+)>

<!ATTLIST row
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     role CDATA "data"
     TEIform CDATA "row" >

<!ELEMENT cell - O ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | p | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text | ditto)*)>

<!ATTLIST cell
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     role CDATA "data"
     rows NUMBER "1"
     cols NUMBER "1"
     TEIform CDATA "cell" >

<!--  22.2:  Formulae                                          -->

<!ELEMENT formula - - CDATA>

<!ATTLIST formula
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     notation CDATA #REQUIRED
     TEIform CDATA "formula" >

<!--  22.3:  Figures                                           -->

<!ELEMENT figure - - ((head)?, (p)*, (figDesc)?, (text)?)>

<!ATTLIST figure
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     entity ENTITY #IMPLIED
     TEIform CDATA "figure" >

<!ELEMENT figDesc - - ((#PCDATA | ident | code | kw | abbr | measure | address |
date | name | num | rs | time | add | corr | choice | del | gap | orig | reg |
sic | unclear | emph | foreign | gloss | hi | ab | mentioned | soCalled |
term | title | ptr | ref | xptr | xref | anchor | s | seg | gi |
formula | eg | bibl | biblFull | cit | q | label | list | listBibl |
note | figure | stage | table | text)*)>

<!ATTLIST figDesc
     ana IDREFS #IMPLIED
     corresp IDREFS #IMPLIED
     next IDREF #IMPLIED
     prev IDREF #IMPLIED
     id ID #IMPLIED
     pos CDATA #IMPLIED
     n CDATA #IMPLIED
     lang IDREF #IMPLIED
     rend CDATA #IMPLIED
     TEIform CDATA "figDesc" >

<!-- Entity sets and Notations for TEI Lite -->

<!ENTITY % ISOlat1 PUBLIC "ISO 8879-1986//ENTITIES Added Latin 1//EN">
%ISOlat1;

<!ENTITY % ISOlat2 PUBLIC "ISO 8879-1986//ENTITIES Added Latin 2//EN">
%ISOlat2;

<!ENTITY % ISOnum
  PUBLIC   "ISO 8879-1986//ENTITIES Numeric and Special Graphic//EN">
%ISOnum;

<!ENTITY % ISOpub  PUBLIC "ISO 8879-1986//ENTITIES Publishing//EN">
%ISOpub;


<!ENTITY % usrmods
  PUBLIC   "-//TEI U5-1995//DTD TEI Lite 1.0 Extensions//EN">
%usrmods
<!-- end of TEI Lite DTD -->


<!NOTATION cgm PUBLIC
  'ISO 8632:1987//NOTATION Computer Graphics Metafile//EN' >

<!NOTATION cgmchar PUBLIC
  'ISO 8632-2:1987//NOTATION CGM Character Encoding//EN' >

<!NOTATION jpeg PUBLIC
  'ISO DIS 10918//NOTATION JPEG Graphics Format//EN' >

<!NOTATION tiff PUBLIC
  '-//Aldus Corporation//NOTATION Tagged Image File Format//EN' >

<!NOTATION gif PUBLIC
  '-//Compuserve Information Service//NOTATION Graphics Interchange Format//EN' >

<!NOTATION sgml PUBLIC
  'ISO 8879:1986//NOTATION Standard Generalized Markup Language//EN' >

<!NOTATION wsd  PUBLIC
  '-//TEI P3-1994//NOTATION Writing System Declaration//EN' >

<!-- ]> -->
